[submodule "third_party/c-log"]
	path = third_party/c-log
	url = https://github.com/wotsen/c-log
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/wotsen/protobuf
[submodule "third_party/util_pthread"]
	path = third_party/util_pthread
	url = https://github.com/wotsen/util_pthread
[submodule "third_party/sole"]
	path = third_party/sole
	url = https://github.com/r-lyeh-archived/sole
[submodule "third_party/c-time"]
	path = third_party/c-time
	url = https://github.com/wotsen/c-time
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/SQLiteCpp"]
	path = third_party/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "third_party/linux-systemcmd-proxy"]
	path = third_party/linux-systemcmd-proxy
	url = https://github.com/wotsen/linux-systemcmd-proxy
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "third_party/handy"]
	path = third_party/handy
	url = https://github.com/wotsen/handy
[submodule "third_party/tfile"]
	path = third_party/tfile
	url = https://github.com/rec/tfile
[submodule "third_party/loguru"]
	path = third_party/loguru
	url = https://github.com/emilk/loguru
